apiVersion: apps/v1
kind: Deployment
metadata:
    name: todo-app
    namespace: gitops-todo
spec:
    replicas: 3
    selector:
        matchLabels:
            app: todo-app
    template:
        metadata:
            labels:
                app: todo-app
        spec:
            containers:
                -   name: todo-app
                    image: dhinojosa/gitops-todo:latest
                    ports:
                        -   containerPort: 80
                    env:
                        -   name: DB_HOST
                            valueFrom:
                                configMapKeyRef:
                                    name: postgres-config
                                    key: POSTGRES_HOST
                        -   name: DB_NAME
                            valueFrom:
                                configMapKeyRef:
                                    name: postgres-config
                                    key: POSTGRES_DB
                        -   name: DB_USER
                            valueFrom:
                                configMapKeyRef:
                                    name: postgres-config
                                    key: POSTGRES_USER
                        -   name: DB_PASSWORD
                            valueFrom:
                                secretKeyRef:
                                    name: postgres-secret
                                    key:  postgres-password
